body {
    font-family: 'Roboto', sans-serif;
}

.centerD{
    text-align: center;
    margin: auto;
}

#hospitalHeader{
	background-color: #819b89;
}

#memberPic{
	width: 50%;
	text-align: center;
}

#mineral-details-header{
	background-color: #819b89;
}

td{
	width: 70%;
}

th, td {
	text-align: left; 
	padding:10px; 
	background: white;
	font-weight: bold; 
}

.ui-icon-kwan:after {
			background-image: url("../_img/kwan.jpg");
			background-size: 25px 25px;
}
.ui-icon-jody:after {
			background-image: url("../_img/jody.jpg");
			background-size: 25px 25px;
}
.ui-icon-nicole:after {
			background-image: url("../_img/nicole.jpg");
			background-size: 25px 23px;
}
