<!-- hospital-details page -->

<div data-role="header" data-theme="b">
  <h1>Hospital details</h1>
</div>
<div class="ui-content centerD"  role="main" data-theme="b">
  <h2 id='hospName'></h2>
  <div class='centerD'>
    <div id='hospInfo'></div>

    <section id="mapSection">
        <div id="map_canvas" class='centerD' style="height:400px; width:400px;"></div>
    </section>
   
    <section id="summHosp" data-mini="true" data-role="collapsible-set">
    </section>
  
  </div>
  <div>
    <a data-rel="back" class="ui-btn ui-icon-back ui-btn-icon-top">Back to page</a>
  </div>
</div>
