<!-- hospital-details page 
     Group Project - Health Matters!
     Student Names: Yoonkwan Kim, Jody Kirton, Nicole Serrao
-->

<header data-role="header" class="header">
  <h1>Health Matters</h1>
  <a href="#main" class="ui-btn ui-icon-back ui-btn-icon-notext back-button ui-nodisc-icon"></a>
</header>

<div class="ui-content centerD" role="main" data-theme="b">

  <section id="mapSection">
      <div id="map_canvas"></div>
  </section>

  <div id='hospInfo'></div>
  <h3 id='hospName'></h3>

  <section id="summHosp" data-mini="true" data-role="collapsible-set"></section>

</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar" class="ui-navbar">
    <ul>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-kwan ui-btn-icon-left nav-member" value="0">Kwan</a></li>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-jody ui-btn-icon-left nav-member" value="1">Jody</a></li>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-nicole ui-btn-icon-left nav-member" value="2">Nicole</a></li>
    </ul>
  </div>
</div>
