<header data-role="header" id="header">
  <h1>Name of our site</h1>
</header>

<section class="ui-content" role="main">
  <div role="main" class="ui-content">

    <!-- Create Mineral list here-->
    <div id="mineral">
      <ul id="mineral-list" data-role="listview" data-inset="true" data-filter="true"></ul>
    </div>

    <!-- Create Hospital list here -->
    <div id="hospital">
      <a href="#hospital-details">Hospital</a>
    </div>

  </div>
</section>

<!-- Create Member nav here -->
<div data-role="footer">
  <div data-role="navbar" id="navhome" class="ui-navbar">
    <ul>
      <li><a href="#member-details" class="ui-btn ui-icon-about ui-btn-icon-left" value="kwan">Kwan's Picture</a></li>
      <li><a href="#member-details" class="ui-btn ui-icon-sheridan ui-btn-icon-left" value="jody">Jody's Picture</a></li>
      <li><a href="#member-details" class="ui-btn ui-icon-ago ui-btn-icon-left" value="nicole">Nicole's Picture</a></li>
    </ul>
  </div>
</div>