<header data-role="header" id="header">
  <h1>Name of our site</h1>
</header>

<section class="ui-content" role="main">
  <div role="main" class="ui-content">

    <!-- Create Mineral list here-->
    <div id="mineral">
      <ul id="mineral-list" data-role="listview" data-inset="true" data-filter="true"></ul>
    </div>

    <!-- Create Hospital list here -->
    <div id="hospital">
      <a href="#hospital-details">Hospital</a>
    </div>

  </div>
</section>

<!-- Create Member nav here -->
<div data-role="footer">
  <div data-role="navbar" id="navhome" class="ui-navbar">
    <ul>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-kwan ui-btn-icon-left nav-member" value="0">Kwan</a></li>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-jody ui-btn-icon-left nav-member" value="1">Jody</a></li>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-nicole ui-btn-icon-left nav-member" value="2">Nicole</a></li>
    </ul>
  </div>
</div>
