<!-- member-details page -->

<header>
	<h1>Member Details</h1>
</header>
	<div class='ui-grid-a'>
		<div class='ui-block-a' id='memberDetails'>
			<table id='memberTable'> 
				<tr><th>Member Name:</th><td id="sName"></td></tr>
				<tr><th>Student Login:</th><td id="sLog"></td></tr>
				<tr><th>Student Number:</th><td id="sNum"></td></tr>
			</table>
		</div>	
		<div class='ui-block-b' id='memberPic'></div>
	</div>
<p><a data-rel="back" class="ui-btn ui-icon-forbidden ui-btn-icon-left">Close</a></p>
