<!-- mineral-details page -->

<header data-role="header" class="header">
  <h1>Name of our site</h1>
  <a href="#main" class="ui-btn ui-icon-back ui-btn-icon-notext ui-nodisc-icon back-button"></a>
</header>

<div id="mineral-details-header" data-role="header" data-theme="b"></div>

<div class="ui-content" role="main" data-theme="b">
  <div id="mineral-details-container">

    <img class="content" id="mineral-details-img"/>

    <div id="mineral-details-info"></div>
  </div>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar" class="ui-navbar">
    <ul>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-kwan ui-btn-icon-left nav-member" value="0">Kwan</a></li>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-jody ui-btn-icon-left nav-member" value="1">Jody</a></li>
      <li><a href="#member-details" data-rel="popup" class="ui-btn ui-icon-nicole ui-btn-icon-left nav-member" value="2">Nicole</a></li>
    </ul>
  </div>
</div>